<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>H&Z</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- styles -->
  </head>
  <body>
    <div id="root"></div>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    
    <script type="text/jsx">
      class Postform extends React.Component {
        render(){
          let visibility = this.props.visibility;
          return (
                <form method="post" name="post-form" className="post-form" style={% raw %}{{display: visibility}}{% endraw %}>
                  <div className="form-top">
                    <select name="category">
                      {% if request.path == "/" %}
                        <option value="development">development</option>
                        <option value="journeys">journeys</option>
                        <option value="photography">photography</option>
                        <option value="music">music</option>
                      {% else %}
                        <option value="{{ request.path[1:] }}">{{ request.path[1:] }}</option>
                      {% endif %}
                    </select>
                    <input type="text" name="title" id="title" placeholder="Enter a Title" required />
                  </div>
                  <textarea className="form-left" name="body" id="body"></textarea>     
                  <div className="form-right" id="markdown-part"></div>
                  <input type="submit" value="Post" />
              </form>
          );
        }
      }
      
      class Postpart extends React.Component {

        constructor(props){
          super(props);
          this.state = {
            hasClicked: false
          };
          this.showForm = this.showForm.bind(this);
        }
      
        showForm(){
          this.setState( prevState => ({
            hasClicked : !prevState.hasClicked
          }));
        }
      
        render(){
          let visibility = this.state.hasClicked ? "block" : "none";
          return (
                <div className="post-part">
                  <button onClick={this.showForm}>
                    { this.state.hasClicked ? "Cancel the Post" : "Add a New Post" }
                  </button>
                  <Postform visibility={visibility} />
              </div>
          );
        }
      }
      var App = React.createClass({
        render: function() {
          return (
            <div id="my-canvas">
              <header className="hz-header">
                <img src="{{ url_for('static', filename='logo.jpg') }}" className="hz-logo" alt="logo" />
                <nav className="hz-nav">
                  <ul>    
                    <li>
                      <a href="{{ url_for('index') }}">H&Z</a>
                    </li>
                    {% if g.user %}
                    <li>
                      <a href="{{ url_for('blog.development') }}">DEVELOPMENT</a>
                    </li>
                    <li>
                      <a href="{{ url_for('blog.journeys') }}">JOURNEYS</a>
                    </li>
                    <li>
                      <a href="{{ url_for('blog.photography') }}">PHOTOGRAPHY</a>
                    </li>
                    <li>
                      <a href="{{ url_for('blog.music') }}">MUSIC</a>
                    </li>
                    <li>
                      <a href="{{ url_for('auth.logout') }}">LOGOUT</a>
                    </li>
                    {% else %}
                    <li>
                      <a href="{{ url_for('auth.register') }}">REGISTER</a>
                    </li>
                    <li>
                      <a href="{{ url_for('auth.login') }}">LOGIN</a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
              </header>

              <div className="page-divider"></div>
              <section className="main-content">
                  <div id="extendpart"></div>      
              </section>
              {% with paths = ["/", "/development", "/journeys", "/music", "/photography"] %}
                    {% if request.path in paths and g.user %}
                      <Postpart />
                    {% endif %}
                  {% endwith %}
              <footer className="hz-footer">
              </footer>
            </div>
          );
        }
      });

      ReactDOM.render(<App />, document.getElementById('root'));

    </script>
    {% block script %}{% endblock %}
  </body>
</html>
