{% extends 'layout.html' %}

{% block script %}
<script type="text/jsx">
    class Register extends React.Component {
        render(){
            return (
                <form method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" class="" id="username" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="" name="password" id="password" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            );
        }
    }
    ReactDOM.render(<Register />, document.getElementById('extendpart'));
</script>
{% endblock %}