{% extends "layout.html" %}

{% block script %}
<script type="text/jsx">
    class Journeys extends React.Component {
        render(){
            return (
                <div>
                    {% for post in posts %}
                        <article class="post">
                            <header>
                                <div>
                                    <h1>{{ post['title'] }}</h1>
                                    <div class="about">
                                        genre: {{ post['category'] }}, by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
                                    </div>    
                                </div>
                                {% if g.user['id'] == post['author_id'] %}
                                    <a class="btn btn-primary" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                                {% endif %}
                            </header>
                            <p class="body">{{ post['body'] }}</p>
                        </article>
                        {% if not loop.last %}
                            <hr/>
                        {% endif %}
                    {% endfor %}
                </div>
            );
        }
    }
    ReactDOM.render(<Journeys />, document.getElementById('extendpart'));
</script>
{% endblock %}